@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --base: 1rem;
  /* SPACING SIZES */
  --sizer-1: calc(var(--base) * 1.26);
  --sizer-2: calc(var(--base) * 1.875);
  --sizer-3: calc(var(--base) * 2.25);
  --sizer-4: calc(var(--base) * 2.5);
  --sizer-5: calc(var(--base) * 2.8125);
  /* FONT SIZES */
  --fs-1: var(--base);
  --fs-2: calc(var(--base) * 1.75);
  --fs-3: calc(var(--base) * 2.25);
  --fs-4: calc(var(--base) * 3);
  /* COLORS */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black-opacity: hsl(0, 0%, 25%);
  --green: hsl(120, 100%, 25%);
  /* MISC */
  --radius: 15px;
}

/* Utility Classes */
/* FONTS */
.fs-1 {
  font-size: var(--fs-1);
}

.fs-2 {
  font-size: var(--fs-2);
}

.fs-3 {
  font-size: var(--fs-3);
}

.fs-4 {
  font-size: var(--fs-4);
}

.uppercase {
  text-transform: uppercase;
}

.font-bold {
  font-weight: 700;
}

h1,
.h1 {
  line-height: 1.1;
}

h2,
.h2 {
  line-height: 1.1;
}

/* SPACING */
.sizer-1 {
  font-size: var(--sizer-1);
}

.sizer-2 {
  font-size: var(--sizer-2);
}

.sizer-3 {
  font-size: var(--sizer-3);
}

.sizer-4 {
  font-size: var(--sizer-4);
}

.sizer-5 {
  font-size: var(--sizer-5);
}

.gap-base {
  gap: var(--base);
}

.gap-1 {
  gap: var(--sizer-1);
}

.gap-2 {
  gap: var(--sizer-2);
}

.gap-3 {
  gap: var(--sizer-3);
}

.gap-4 {
  gap: var(--sizer-4);
}

.gap-5 {
  gap: var(--sizer-5);
}

/* COLORS*/
.bg-white {
  background-color: var(--white);
}

.bg-black {
  background-color: var(--black);
}

.bg-green {
  background-color: var(--green);
}

.bg-black-opacity {
  background-color: var(--black-opacity);
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.green {
  color: var(--green);
}

.dark-theme-svg {
  fill: var(--white);
}

.light-theme-svg {
  fill: var(--black);
}

/* MISC */
.rounded {
  border-radius: var(--radius);
}

/* LAYOUT */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--green); /* Change the color of the scrollbar thumb */
}

::-webkit-scrollbar-track {
  background-color: var(--black); /* Change the color of the scrollbar track */
}

.menu-card {
  position: fixed;
  width: 60vw;
  height: 100vh;
  z-index: 20;
  padding: 10px;
}
.menu-card header {
  padding: var(--sizer-1);
  justify-content: flex-end;
}
.menu-card ul {
  flex-direction: column;
  gap: 10px;
  padding: 0;
  list-style: none;
}
.menu-card ul a {
  text-decoration: none;
  color: var(--black);
}
.menu-card ul a:hover {
  color: var(--green);
}
.menu-card ul a:active {
  transform: scale(1.1);
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Navbar */
.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: var(--sizer-1) var(--sizer-5);
  justify-content: space-between;
  box-shadow: 2px 3px 5px grey;
}
.navbar .hamburger {
  display: none;
}
.navbar .menu a {
  text-decoration: none;
}
.navbar .menu .menu__list {
  list-style: none;
  cursor: pointer;
  color: var(--white);
}
.navbar .menu .menu__list:hover {
  border-color: var(--green);
  border-width: 0 0 1px 0;
  border-style: solid;
}
.navbar .menu .active-menu {
  border-color: green;
  border-width: 0 0 2px 0 !important;
  border-style: solid;
}
.navbar .themes .icon-container {
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  justify-content: center;
  align-items: center;
}
.navbar .themes .icon-container img {
  width: 20px;
}

/* BODY */
main {
  padding: calc(var(--sizer-5) * 2) 0;
  flex-direction: column;
  gap: var(--sizer-5);
}
main section header {
  justify-content: center;
  padding: calc(var(--sizer-1)) 0;
}
main section header .section-title {
  display: inline-block;
  position: relative;
}
main section header .section-title:after {
  position: absolute;
  content: "";
  width: 80%;
  height: 3px;
  background-color: var(--green);
  left: 10%;
  bottom: -5px;
  border-radius: 1.5px;
}

button {
  width: 180px;
  padding: calc(var(--sizer-1) * 0.25) calc(var(--sizer-2) * 0.75);
  border: none;
  border-radius: calc(var(--radius) * 0.65);
  transition: background 0.4s ease;
}

button:hover {
  color: var(--green);
  background-color: var(--white);
}

/* Home */
.home {
  position: relative;
}
.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.home .home-content {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--sizer-3) calc(var(--sizer-5) * 3);
  grid-template-columns: 1fr 1fr;
  z-index: 2;
}
.home .home-content .home__info {
  flex-direction: column;
  gap: var(--sizer-2);
}
.home .home-content .home__info h1 {
  font-weight: 700;
}
.home .home-content .home__info .icons-section .icons-container {
  gap: var(--sizer-1);
  align-items: center;
  padding: calc(var(--sizer-1) * 0.5) var(--sizer-1);
}
.home .home-content .home__info .icons-section .icons-container svg:hover {
  fill: var(--green);
}
.home .home-content .home__image .image-container {
  width: 350px;
  height: 350px;
  position: relative;
  margin: 30px;
}
.home .home-content .home__image .image-container img {
  width: 100%;
  border-radius: 49% 51% 28% 72%/60% 58% 42% 40%;
}

.about {
  padding: var(--sizer-3) calc(var(--sizer-5));
}
.about .about-content {
  gap: var(--sizer-3);
  padding: var(--sizer-2) var(--sizer-5);
  justify-content: center;
  align-items: center;
}
.about .about-content .about-image img {
  width: 250px;
  border-radius: 10px;
}
.about .about-content .about-info {
  padding: var(--sizer-3);
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.skills {
  padding: var(--sizer-3) calc(var(--sizer-5) * 2);
}
.skills .skills-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--sizer-3);
  padding: calc(var(--sizer-5) * 2) var(--sizer-5);
  justify-items: center;
  align-items: center;
}
.skills .skills-content .skill {
  position: relative;
  width: 100%;
}
.skills .skills-content .skill .skill-content {
  justify-content: center;
  align-items: center;
  gap: var(--sizer-1);
  transition: transform 0.3s ease-in-out;
}
.skills .skills-content .skill-content:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
.skills .skills-content .skill:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background-color: var(--green);
  border-radius: 2px;
}

.projects {
  padding: var(--sizer-3) calc(var(--sizer-5) * 3);
}
.projects .projects-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--sizer-3);
  padding: var(--sizer-3) 0;
}
.projects .projects-content .project {
  transition: transform 0.3s ease-in-out;
}
.projects .projects-content .project img {
  border-radius: 10px;
}
.projects .projects-content .project:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.contact .contact-content {
  justify-content: center;
  align-items: center;
}
.contact .contact-content form {
  flex-direction: column;
  gap: var(--sizer-1);
  width: 50%;
}
.contact .contact-content form input, .contact .contact-content form textarea, .contact .contact-content form .g-recaptcha {
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: calc(var(--sizer-1) * 0.75) var(--sizer-1);
  font-weight: 700;
}
.contact .contact-content form textarea {
  height: 200px;
}
.contact .contact-content form input:focus, .contact .contact-content form textarea:focus {
  border: 2px solid var(--green);
  outline: none;
}
.contact .contact-content form .g-recaptcha {
  align-content: center;
  justify-content: center;
  margin-bottom: var(--sizer-1);
}
.contact .contact-content form button {
  align-self: flex-end;
}

footer {
  flex-direction: column;
  padding: var(--sizer-3);
  align-items: center;
  gap: var(--sizer-2);
  background-color: #14191b;
}
footer .social-media-icons {
  gap: var(--sizer-1);
}

@media (max-width: 770px) {
  .home .home-content {
    padding: var(--sizer-1) var(--sizer-3);
  }
  .navbar .menu {
    gap: var(--sizer-1);
  }
  .about {
    padding: var(--sizer-2) var(--sizer-1);
  }
  .about .about-content {
    flex-direction: column;
  }
  .projects {
    padding: var(--sizer-3) var(--sizer-1);
  }
  .projects .projects-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 650px) {
  .navbar {
    padding: var(--sizer-1) var(--sizer-1);
    gap: 30%;
  }
  .navbar .hamburger {
    display: block !important;
  }
  .navbar .menu {
    display: none;
  }
  .home .home-content {
    padding: var(--sizer-1) var(--sizer-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home .home-content .home__info {
    align-self: flex-start;
  }
  .home .home-content .home__info h1 {
    font-size: var(--sizer-2);
  }
  .home .home-content .home__info button {
    width: 120px;
    font-size: var(--fs-1);
  }
  .home .home-content .home__info .icons-section {
    position: absolute;
    bottom: 0;
  }
  .home .home-content .home__info .icons-section .icons-container {
    flex-direction: column;
  }
  .home .home-content .home__image {
    align-self: flex-end;
  }
  .home .home-content .home__image .image-container {
    align-self: flex-end;
    width: 200px;
    height: 200px;
    margin: 0;
  }
  .about {
    padding: var(--sizer-1) var(--sizer-1);
  }
  .about .about-content {
    flex-direction: column;
  }
  .about .about-content .about-info {
    padding: 0;
  }
  .skills {
    padding: var(--sizer-1);
  }
  .skills .skills-content {
    display: flex;
    flex-direction: column;
  }
  .projects .projects-content {
    padding: 0 var(--sizer-2);
    display: flex;
    flex-direction: column;
  }
  .contact .contact-content {
    padding: 0 var(--sizer-1);
  }
  .contact .contact-content form {
    width: 100%;
  }
  .contact .contact-content form button {
    width: 120px;
  }
  .main {
    gap: var(--sizer-1) !important;
  }
}/*# sourceMappingURL=main.css.map */