.about {
  padding: var(--sizer-3) calc(var(--sizer-5) * 3);
  

  .about-content {
    grid-template-columns: 1fr 1fr;
    padding: var(--sizer-2) var(--sizer-5);

    .about-image {
      justify-content: center;
      align-items: center;
      img {
        width: 350px;
        border-radius: 10px;
      }
    }

    .about-info {
      padding: var(--sizer-3);
      flex-direction: column;
      justify-content: center;
    }
  }
}