.about {
  padding: var(--sizer-3) calc(var(--sizer-5));

  .about-content {
    gap: var(--sizer-3);
    padding: var(--sizer-2) var(--sizer-5);
    justify-content: center;
    align-items: center;

    .about-image {
      img {
        width: 250px;
        border-radius: 10px;
      }
    }

    .about-info {
      padding: var(--sizer-3);
      flex-direction: column;
      justify-content: center;
      flex: 1;
    }
  }
}
