@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --base: 1rem;

  /* SPACING SIZES */
  --sizer-1: calc(var(--base) * 1.26);
  --sizer-2: calc(var(--base) * 1.875);
  --sizer-3: calc(var(--base) * 2.25);
  --sizer-4: calc(var(--base) * 2.5);
  --sizer-5: calc(var(--base) * 2.8125);

  /* FONT SIZES */
  --fs-1: var(--base);
  --fs-2: calc(var(--base) * 1.75);
  --fs-3: calc(var(--base) * 2.25);
  --fs-4: calc(var(--base) * 3);

  /* COLORS */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black-opacity: hsl(0, 0%, 25%);
  --green: hsl(120, 100%, 25%);

  /* MISC */
  --radius: 15px;
}

/* Utility Classes */
/* FONTS */
.fs-1 {
  font-size: var(--fs-1);
}

.fs-2 {
  font-size: var(--fs-2);
}

.fs-3 {
  font-size: var(--fs-3);
}

.fs-4 {
  font-size: var(--fs-4);
}

.uppercase {
  text-transform: uppercase;
}

.font-bold {
  font-weight: 700;
}
h1,
.h1 {
  line-height: 1.1;
}
h2,
.h2 {
  line-height: 1.1;
}

/* SPACING */
.sizer-1 {
  font-size: var(--sizer-1);
}
.sizer-2 {
  font-size: var(--sizer-2);
}
.sizer-3 {
  font-size: var(--sizer-3);
}
.sizer-4 {
  font-size: var(--sizer-4);
}
.sizer-5 {
  font-size: var(--sizer-5);
}
.gap-base {
  gap: var(--base);
}
.gap-1 {
  gap: var(--sizer-1);
}
.gap-2 {
  gap: var(--sizer-2);
}
.gap-3 {
  gap: var(--sizer-3);
}
.gap-4 {
  gap: var(--sizer-4);
}
.gap-5 {
  gap: var(--sizer-5);
}

/* COLORS*/
.bg-white {
  background-color: var(--white);
}
.bg-black {
  background-color: var(--black);
}
.bg-green {
  background-color: var(--green);
}

.bg-black-opacity {
  background-color: var(--black-opacity);
}

.white {
  color: var(--white);
}
.black {
  color: var(--black);
}
.green {
  color: var(--green);
}

.dark-theme-svg {
  fill: var(--white);
}

.light-theme-svg {
  fill: var(--black);
}

/* MISC */
.rounded {
  border-radius: var(--radius);
}

/* LAYOUT */
.grid {
  display: grid;
}
.flex {
  display: flex;
}

.hidden {
  display: none;
}

section {
  header {
    justify-content: center;
    padding: calc(var(--sizer-1)) 0;

    .section-title {
      display: inline-block;
      position: relative;
    }

    .section-title:after {
      position: absolute;
      content: '';
      width: 80%;
      height: 3px;
      background-color: var(--green);
      left: 10%;
      bottom: -5px;
      border-radius: 1.5px;
    }
  }
}

button {
  width: 180px;
  padding: calc(var(--sizer-1) * 0.25) calc(var(--sizer-2) * 0.75);
  border: none;
  border-radius: calc(var(--radius) * 0.65);
  transition: background 0.4s ease;
}

button:hover {
  color: var(--green);
  background-color: var(--white);
}