/* Home */
.home {
  position: relative;

  #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .home-content {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--sizer-3) calc(var(--sizer-5) * 3);
    grid-template-columns: 1fr 1fr;
    z-index: 2;
    .home__info {
      flex-direction: column;
      gap: var(--sizer-2);

      h1 {
        font-weight: 700;
      }

      .icons-section {
        .icons-container {
          gap: var(--sizer-1);
          align-items: center;
          padding: calc(var(--sizer-1) * 0.5) var(--sizer-1);

          svg:hover {
            fill: var(--green);
          }
        }
      }
    }

    .home__image {
      .image-container {
        width: 350px;
        height: 350px;
        position: relative;
        margin: 30px;

        img {
          width: 100%;
          border-radius: 49% 51% 28% 72% / 60% 58% 42% 40%;
        }
      }
    }
  }
}
