.projects {
  padding: var(--sizer-3) calc(var(--sizer-5) * 3);

  header {
    padding: calc(var(--sizer-1) * 0.5) 0;
  }

  .projects-content {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--sizer-3);

    .project {
      border-radius: 10px;
    }
  }
}